body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background: #f2f2f2;
    color: #333;
  }
  
  .container {
    max-width: 500px;
    margin: 50px auto;
    background: white;
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    text-align: center;
    color: #5A67D8;
  }
  
  input, button, select {
    width: 100%;
    padding: 10px;
    margin: 12px 0;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 16px;
  }
  
  button {
    background-color: #5A67D8;
    color: white;
    cursor: pointer;
    transition: 0.3s;
  }
  
  button:hover {
    background-color: #434190;
  }
  
  .contact-card {
    background: #edf2f7;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 10px;
  }
  
  .nav {
    text-align: right;
    margin-bottom: 20px;
  }

  .logout {
    max-width: 370px;
    margin: 40px auto;
    text-align: center;
  }

  .logout button{
    background-color: #5A67D8;
    color: white;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 12px;
    padding: 12px 8px;
    font-size: 16px;
    font-weight: 700;
    border: none;
    display: block;
  }
  
  .logout button:hover {
    background-color: #434190;
  }

  